{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
  {% include 'photos/carousel.html' %}
</div>

<style>
    .selfinfo {
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
        padding-left: 30%;
    }
    .selfinfoitem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
        padding: 10px 10px 10px 10px;
    }
    .selfinfoitemtext {
      align-items: center;
      justify-content: center;
      align-content: center;
    }

    @media screen and (max-width: 750px) {
      .selfinfo {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          padding-left: 0;
      }
    }
</style>
<div class="selfinfo">
    <div class="selfinfoitem">
      <img src="{% static 'img/self.jpeg' %}" alt="SASHA" class="img-circle" style="border-radius: 50%; width:300px;"/>
    </div>
    <div class="selfinfoitem bg-dark" data-bs-theme="dark">
      <div class="selfinfoitemtext">
        САША
      </div>
      <div class="selfinfoitemtext">
        фотограф&nbsp;твоего&nbsp;тела
      </div>
    </div>
</div>

<p>
<div class="container-fluid">
  {% include 'photos/gallery.html' %}
</div>
</p>
<p>
<div class="col align-self-center bg-dark container-fluid" data-bs-theme="dark" style="padding:10px;">
  <center>
    <div>
    <p class="fs-3">
    <a name="price">
      Цена&nbsp;моего&nbsp;времени и&nbsp;твоего&nbsp;кайфа -&nbsp;15&nbsp;000&nbsp;₽
    </a>
  </p>
    </div>
    <div>
    <p class="fs-5">
      Приходи&nbsp;сама либо&nbsp;подари&nbsp;подруге
  </p>
    </div>
  </center>
</div>
</p>

<p>
<div class="col align-self-center bg-light text-dark container-fluid" style="padding:10px;">
  <center><p class="fs-6">
    <a name="contacts">
      <div>tg: <a href="https://t.me/Moatilliattableat" target="_blank">@Moatilliattableat</a></div>
      <div>vk: <a href="https://vk.com/id808832" target="_blank">Саша Dee</a></div>
    </a>
  </p></center>
</div>
</p>
{% endblock %}